/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* Positioning in CSS */

.container {
  width: 300px;
  height: 300px;
  background-color: gray;
  margin: 100px;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  /* right: 100px;
  bottom: 100px; */
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: fixed;
  top: 0;
}

.purple {
  width: 100px;
  height: 100px;
  background-color: purple;
  position: sticky;
  left: 200px;
  top: 50px;
}

.scroll {
  height: 300vh;
}

/*

---- Box Model ----

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 200px;
  width: 200px;
  border: 20px solid red;
  padding: 30px;
  margin: 40px;
}

*/

/*

---- Text and Font properties ----

body {
  background-color: #02203c;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px #f6f9fc;
}

p {
  text-indent: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 5px;
  font-weight: 100;
}

a {
  color: #ffffff;
  text-decoration: line-through;
  text-decoration-color: #02203c;
}

*/

/* * {
  padding: 0;
  margin: 0;
border: 1px solid red;
  box-sizing: border-box;
}

p {
  color: seagreen;
  display: inline;
}

a {
  display: inline-block;
  width: 400px;
}

ul {
  background-color: black;
  text-align: end;
  padding: 20px;
}

li {
  display: inline-block;
  color: white;
  margin: 10px 20px;
 padding: 20px;
}

li:hover {
  cursor: pointer;
  color: turquoise;
} */
