h1 {
  color: blueviolet;
  font-family: monospace;
}

#first {
  color: violet;
}

.purple {
  color: purple;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* Grouping selectors */

#first,
#second {
  text-align: center;
}

/* Nested selectors

id > class > specific element

*/
ul > li {
  list-style: none;
}

/* pseudo selector */

p:hover {
  font-family: fantasy;
}
